<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">

    <title> Manchester 7 Day weather</title>
</head>
<body>
    {{>nav}}
<div id = "title"  >
<h1> 7 Day weather Manchester</h1>
</div>

   {{!-- <div>
    <form action="/7dayweather" method="GET">
            <input required type="text" name="latitude" /><br />
             <input required type="text" name="longitude" /><br />
            <button type="submit">longitude/Latitude</button>
    </form>
       <div>
             <p> latitude  {{latitude}}</p>
             <p>  longitude {{longitude}}</p>
        </div>  --}}
    <div class = 'info2'  >
        <div>
            <h2> day 1 </h2>
            {{!-- <p> time/date {{day1Time}}</p> --}}
            <p> temp {{day1}}°C</p>
            {{!-- <p> feels like {{dayone}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{dayone}}@2x.png'>
            <p> conditons {{day1one}}</p>
        </div>
        <div>
            <h2> day 2 </h2>
            {{!-- <p> time/date {{day2Time}}</p> --}}
            <p> temp {{day2}}°C</p>
            {{!-- <p> feels like {{daytwo}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{daytwo}}@2x.png'>
            <p> conditions {{daytwo2}}</p>
        </div>
        <div>
            <h2> day 3 </h2>
            {{!-- <p> time/date {{day3Time}}</p> --}}
            <p> temp {{day3}}°C</p>
            {{!-- <p> feels like {{daythree}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{daythree}}@2x.png'>
            <p> conditons {{daythree3}}</p>
        </div>
        <div>
            <h2> day 4 </h2>
            {{!-- <p> time/date {{day4Time}}</p> --}}
            <p> temp {{day4}}°C</p>
            {{!-- <p> feels like {{dayfour}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{dayfour}}@2x.png'>
            <p> conditions {{dayfour4}}</p>
        </div>
        <div>
            <h2> day 5 </h2>
            {{!-- <p> time/date {{day5Time}}</p> --}}
            <p> temp {{day5}}°C</p>
            {{!-- <p> feels like {{dayfive}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{dayfive}}@2x.png'>
            <p> conditons {{dayfive5}}</p>
        </div>
        <div>
            <h2> day 6 </h2>
            {{!-- <p> time/date {{day6Time}}</p> --}}
            <p> temp {{day6}}°C</p>
            {{!-- <p> feels like {{daysix}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{daysix}}@2x.png'>
            <p> conditions {{daysix6}}</p>
        </div>
        <div>
            <h2> day 7 </h2>
            {{!-- <p> time/date {{day6Time}}</p> --}}
            <p> temp {{day7}}°C</p>
            {{!-- <p> feels like {{dayseven}}°C</p> --}}
            <img src='http://openweathermap.org/img/wn/{{dayseven}}@2x.png'>
            <p> conditions {{dayseven7}}</p>
        </div>
    
    </div>
        

    </div>
</body>
</html>